* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    height: 100vh;

    background: url(../gif/kUa6RYx.gif);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reset-window {
    width: 420px;
    padding: 40px 35px;
    background: white;
    border-radius: 24px;
    box-shadow: 0 20px 40px #222;
    margin-right: 150px;
    text-align: center;
}

.reset-window h1 {
    margin-bottom: 15px;
    font-size: 26px;
}

.reset-window p {
    font-size: 14px;
    color: #444;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px 14px;

    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.2);

    background: rgba(0,0,0,0.05);
    font-size: 15px;

    outline: none;
    transition: 0.3s;

    margin-bottom: 18px;
}

input:focus {
    border-color: orange;
    box-shadow: 0 0 0 2px orange;
}

.submit {
    width: 100%;
    height: 45px;

    border-radius: 14px;
    border: none;

    background: #222;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px orange;
}

.back-link {
    margin-top: 20px;
    display: block;

    font-size: 14px;
    color: #6ea8ff;

    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}